body{
  margin: 0;
  padding:0 ;
}
.App {
  /* background: linear-gradient(to right, #00416a, #e4e5e6); */
  background: linear-gradient(to right, #014f80, #e4e5e6); 
  height: 100vh;
  text-align: center;
  padding: 5px;
  color: white;
  font-size: 25px;
}
a{
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
  font-family:cursive;
  font-style: italic;
}
a:hover{  
  background: linear-gradient(to bottom, #00416a, #e4e5e6);
  padding: 15px;
  border-radius: 14px;
}